body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  
}

/* Header */
.header {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
}

.header img.hortifrut {
  width: 50%;
}

main {
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h2 {
  background-color: black;
  color: rgb(223, 231, 223);
 align-items: center;
 padding: 10px;
    border-radius: 5px;
}
.fraseMarketing {
  background-color: white;
  text-align: center;
  margin-top: 20px;
}

/* Nav bar */
.opcoes {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.opcoes a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.opcoes a:hover {
  text-decoration: underline;
}

p {
  color: black;
  text-align: center;
}
.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: calc(25% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.product img {
  width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
.product h2 {
  font-size: 24px;
  margin: 10px 0;
 text-align: center;
}
.product p {
  color: #888;
  margin: 10px 0;
}
.product button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.product button:hover {
  background-color: #218838;
}


footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.fundoInsta, .fundoGmail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.instagram, .imagemGmail {
  max-height: 40px;
  width: auto;
}

.footer-section p {
  margin: 0;
}
